@font-face {
  font-family: 'handWriting';
  src: url('resource/Playwrite_AU_VIC_Guides/PlaywriteAUVICGuides-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: 'handStyle';
  src: url('resource/Lobster_Playwrite/Lobster_Two/LobsterTwo-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


html,body{
    margin: 0;
    padding: 0;

}

body{
    display: flex;
    font-family: 'handWriting', sans-serif;
    min-height: 100vh;
    flex-direction: column;
    background-color: #22223B;
    justify-content:space-between;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  #C9ADA7;   
    box-shadow:  0 0 15px 5px rgba(255, 255, 255, 0.5);
}

main{

    display: flex;
    flex-direction: column;
    justify-content: center;

}

footer{

 background-color: #C9ADA7;   
    /* box-shadow:  0 0 15px 5px rgba(255, 255, 255, 0.5); */
}

.footer-top-divider{
    display: flex;

    justify-content: space-between;
    align-items: center;
}

img{
    border: 2px solid rgb(253, 224, 224);
    max-height: 15vw;
    object-fit: contain;
}


h1, h2,h4, p, ul,.skill-content{
    font-family: 'handWriting', sans-serif;
    color:white;
    font-size: 3vw;

}

h3{
    font-size: 2.5vw;

}

a, link{
    color:#4A4E69;
    font-family: 'handStyle', sans-serif;
    transition: font-size 0.3s linear 0.5s
}

a:hover, link:hover{
    color:#694f4a;
    font-size: 2.5vw;

}

a:focus, link:focus{
    color:#694f4a;
    outline-width: solid 2px #694f4a;
    font-size: 2.5vw;
}

p, li{
font-family: 'handStyle', sans-serif;
}

a, p, li{
font-size: 2vw;
}

.intro{
    display: flex;
    align-items: center;
    gap: 1vw;
    margin: 1vw;
    margin-left: 20vw;
}

.nav_list{
    display: flex;
    gap: 1vw;
    font-size: larger;
    font-weight: bolder;
    list-style:none;
    margin-right: 20vw;
    
}


#about{
display: flex;
flex-direction: column;
align-self: center;
justify-content: center;
align-items: center;
gap:2vw;
}
.about-paragraph{
max-width: 50vw;
}

.skill-content{
    display: flex;
    align-items: center;
    gap: 2vw;
}

#projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects-container{
display: grid;
width: 50vw;
grid-template-rows: repeat( 4, 1fr);
grid-template-columns: repeat(2, 1fr);
gap:2vw;
}

.project-card{
    background-color:#C9ADA7 ;
    border: 1px white solid;
    max-width:fit-content;
    box-shadow: 4px 4px 10px rgba(255, 255, 255, 0.5);
    transform: transform 0.3s ease-in-out 0.3s,
    box-shadow 0.3s ease-in-out 0.3s;
}

.project-card:hover, .project-card:focus-visible {
    transform: scale(1.1); 
    box-shadow: none;
}

#contact{
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -10vw;
}

#contact> ul{
    list-style: none;
}


.footer-img{
    margin-right: 15vw;
}




.footer-top{
    margin-left: 10vw;
}

.footer-bottom{
    margin-left: 10vw;    
}

.footer-copyright{
    display: flex;
    justify-content: center;
}


/* @media (max-width: 768px){
.projects-container{
display: grid;
width: 50vw;
grid-template-rows: repeat( 3, 1fr);
grid-template-columns: repeat(3, 1fr);

}
}

@media (min-width: 1024px){

} */